.vs/BsdSync/v15/Server/sqlite3/storage.ide-wal
.vs/BsdSync/v15/Server/sqlite3/storage.ide-shm
.vs/BsdSync/v15/Server/sqlite3/storage.ide
.vs/BsdSync/v15/Server/sqlite3/db.lock
.vs/config/applicationhost.config
